 .u-section-1 {
  background-image: url("images/rabbit.png");
  min-height: 435px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 359px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 275px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 206px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 98px;
  }
} .u-section-2 {
  min-height: 735px;
}

.u-section-2 .u-image-1 {
  width: 529px;
  height: 396px;
  margin: 161px auto 0 calc(((100% - 1140px) / 2) + 17px);
}

.u-section-2 .u-image-2 {
  width: 654px;
  height: 653px;
  margin: -512px 0 37px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 17px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 17px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 621px;
  }

  .u-section-2 .u-image-1 {
    margin-left: calc(((100% - 540px) / 2) + 11px);
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 539px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 280px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 255px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 339px;
    margin-top: -371px;
  }
} .u-section-3 {
  min-height: 558px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 558px;
  background-image: url("images/AdobeStock_210644042.jpeg");
  background-position: 50% 50%;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 9px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5625rem;
  font-family: "Alex Brush";
  font-weight: 700;
  margin: 48px 37px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/1505848153.jpeg");
  background-position: 50% 50%;
  min-height: 558px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-family: "Alex Brush";
  font-weight: 700;
  font-size: 1.375rem;
  margin: 51px auto 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 696px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 460px;
  }

  .u-section-3 .u-image-2 {
    min-height: 460px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 534px;
  }

  .u-section-3 .u-image-1 {
    min-height: 352px;
  }

  .u-section-3 .u-image-2 {
    min-height: 352px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1303px;
  }

  .u-section-3 .u-image-1 {
    min-height: 432px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 432px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 856px;
  }

  .u-section-3 .u-image-1 {
    min-height: 272px;
  }

  .u-section-3 .u-image-2 {
    min-height: 272px;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(2) !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(2) !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 177px;
}

.u-section-4 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 60px auto;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 564px;
}

.u-section-5 .u-gallery-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 422px;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-1 {
  width: 375px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-2 {
  width: 375px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-3 {
  width: 375px;
  object-position: 50% 100%;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-4 {
  width: 375px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
} .u-section-6 {
  min-height: 933px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 46px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 762px;
  background-image: url("images/pexels-photo-9790906.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  min-height: 381px;
  background-image: url("images/3af90852acd734737fb589854323a44c06d05facc1c39e78f0680656d0b3c156ab0770a43508dca8f92ca56a8c3fd554a4eace926a85c4297b5f9e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  min-height: 381px;
  background-image: url("images/1853f19c3423563f73eab32e7832046cbc0ef36c667b5d7dd6776e778b665cd6413e48672f83f88cf79989b08c4e45800fc04a4400f96013464afe_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  min-height: 381px;
  background-image: url("images/0d7bb1c4083892e666af627540bd3cad3b5a185ba7a89b35d7366c07f18f9c1aad31d7c8194f0ddd6ab251a89f107a895449b88dcc2300bb866b14_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  min-height: 381px;
  background-image: url("images/af1cd7ea73922595811555ece8b7c32e0f326e5a5f2d5c4b7078e6960e19d44493d48908d5984a4e2ae8c8941dee24dfeb6cd4b82beb65f17b5c18_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 799px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 628px;
  }

  .u-section-6 .u-image-2 {
    min-height: 314px;
  }

  .u-section-6 .u-image-3 {
    min-height: 314px;
  }

  .u-section-6 .u-image-4 {
    min-height: 314px;
  }

  .u-section-6 .u-image-5 {
    min-height: 314px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 2095px;
  }

  .u-section-6 .u-image-1 {
    min-height: 962px;
  }

  .u-section-6 .u-image-2 {
    min-height: 481px;
  }

  .u-section-6 .u-image-3 {
    min-height: 481px;
  }

  .u-section-6 .u-image-4 {
    min-height: 481px;
  }

  .u-section-6 .u-image-5 {
    min-height: 481px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 3781px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 130px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 722px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 722px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 722px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    min-height: 722px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    min-height: 722px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 2446px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-image-1 {
    min-height: 455px;
  }

  .u-section-6 .u-image-2 {
    min-height: 455px;
  }

  .u-section-6 .u-image-3 {
    min-height: 455px;
  }

  .u-section-6 .u-image-4 {
    min-height: 455px;
  }

  .u-section-6 .u-image-5 {
    min-height: 455px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/pexels-photo-6160167.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 688px;
}

.u-section-7 .u-text-1 {
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 3.75rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 150px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }
}